@tailwind base;
@tailwind components;
@tailwind utilities;
.tabs-active {
  border-bottom: 2px solid #2474e5;
}
.tabs-active svg,
.tabs-active path {
  fill: #2474e5 !important;
}
.tabs-active svg + span {
  color: #2474e5 !important;
}
.coupon::before {
  position: absolute;
  left: -1px;
  top: 6px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: rgb(39, 174, 96);
  border-image: initial;
}
