@tailwind base;
@tailwind components;
@tailwind utilities;
.nav-mobile {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  top: 72px;
  z-index: 999;
  background: #2474e5;
  flex-direction: column;
}
.tabs-active {
  border-bottom: 2px solid #2474e5;
}
.tabs-active svg,
.tabs-active path {
  fill: #2474e5 !important;
}
.tabs-active svg + span {
  color: #2474e5 !important;
}
.coupon::before {
  position: absolute;
  left: -1px;
  top: 6px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: rgb(39, 174, 96);
  border-image: initial;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
nav a.active {
  @apply bg-gray-200;
}
